.custom-card {
  width: 100%;       /* Fit vừa cột */
  height: 100%;      /* Kéo cao bằng các card khác */
  box-sizing: border-box;

  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s ease;
  cursor: pointer;
}




.custom-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.custom-card h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

.card-content p {
  font-size: 14px;
  margin: 4px 0;
}
