.custom-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  transition: box-shadow 0.3s;
  width: 200px;
  height: 125px;
}

.custom-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.card-content {
  margin-left: 15px;
}
