.class-detail-container {
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 16px;
  max-width: 900px;
  font-family: 'Segoe UI', sans-serif;
  flex-direction: column;
  text-align: left; 
  flex: 1;
}

.class-info {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 16px;
  border-radius: 12px;
}
.class-info p {
  margin: 4px 0;
  font-size: 16px;
}
  
.back-btn {
  width: fit-content;
  background-color: #abc4ff;
  color: black;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 0;
}

.add-student {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: #c1d3fe;
  cursor: pointer;
  border-radius: 8px;
}

.add-button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: #c1d3fe;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 20px;
}
  
.tabs {
  display: block;
  gap: 12px;
  margin: 16px 0;
}
  
.tabs button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: #c1d3fe;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 10px;
}
  
.tabs button.active {
  font-weight: bold;
  background-color: #c1d3fe;
}
  
.tab-content {
  padding: 12px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
}
