/* SidebarSearch.css */
.sidebar-search.admin {
  width: 250px;
  height: 93vh;
  background-color: #edf2fb;
  border-right: 1px solid #edf2fb;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Arrange content vertically */
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.sidebar-search.student {
  width: 100px;
  height: 93vh;
  background-color: #edf2fb;
  border-right: 1px solid #edf2fb;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Arrange content vertically */
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.search-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px; /* Space between header and results */
}

.search-box {
  position: relative;
  flex-grow: 1; /* Allow search box to take available width */
  height: 36px; /* Adjust height as needed */
}

.search-box input {
  width: 100%;
  padding: 8px 30px 8px 12px; /* Add padding for text and icon */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
}

.search-box .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none; /* Allow clicks through the icon */
}

.new-button {
  margin-left: 10px;
  background-color: #c1d3fe;
  background: 1;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 12px;
  color: black;
  outline: none; /* Remove default focus outline */
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
}

.search-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
  padding: 10px 8px;
  color: black;
  cursor: pointer;
  border-radius: 6px;
}

.icon-top {
  font-size: 24px;
  margin-bottom: 4px;
}

.text-below {
  font-size: 14px;
  text-align: center;
}

.search-item:hover {
  background-color: #c1d3fe;
}

.search-item.bold {
  font-weight: bold;
}

.search-item.selected {
  background-color: #c1d3fe;
  color: black;        
  font-weight: bold;
}