.sidebar-search.admin {
  width: 250px;
  height: calc(100vh - 60px); /* Trừ chiều cao navbar */
  background-color: #edf2fb;
  border-right: 1px solid #edf2fb;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  overflow-y: auto; 
}

.sidebar-search.student {
  width: 100px;
  height: calc(100vh - 60px); 
  background-color: #edf2fb;
  border-right: 1px solid #edf2fb;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  overflow-y: auto; 
}

.sidebar-search.teacher {
  width: 100px;
  height: calc(100vh - 60px);
  background-color: #edf2fb;
  border-right: 1px solid #edf2fb;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  overflow-y: auto; 
}

.sidebar-search.accountant {
  width: 100px;
  height: calc(100vh - 60px);
  background-color: #edf2fb;
  border-right: 1px solid #edf2fb;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.search-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.search-box {
  position: relative;
  flex-grow: 1; 
  height: 36px; 
}

.search-box input {
  width: 100%;
  padding: 8px 30px 8px 12px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
}

.search-box .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none; 
}

.new-button {
  margin-left: 10px;
  background-color: #c1d3fe;
  background: 1;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 12px;
  color: black;
  outline: none; 
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
}

.search-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
  padding: 10px 8px;
  color: black;
  cursor: pointer;
  border-radius: 6px;
}

.icon-top {
  font-size: 24px;
  margin-bottom: 4px;
}

.text-below {
  font-size: 14px;
  text-align: center;
}

.search-item:hover {
  background-color: #c1d3fe;
}

.search-item.bold {
  font-weight: bold;
}

.search-item.selected {
  background-color: #c1d3fe;
  color: black;        
  font-weight: bold;
}