//---------------- COLORS -----------------------

$primary:(
  "100": #2F4156,
  "200": #557C8D,
);

$secondary: (
  "100": #C8D9E6,
  "200": #d5c1b8
);
$accent: (
  "100": #FFFFFF,
  "200": #FF6F61,
  "300": #B392AC
);
$neutral: (
  "100": #FFFFFF,
  "200": #E4E7EB,
  "300": #4A4A4A
);
$background: (
  "100": #F0F4F8
);
$white: #fafafa;
$purple: #9290FE;
$softorange: #F8D8C1;
$lightblue: #B5D7E6;
$green: #419798;
$brown: #8E4917;
$softpurple: #DDE0F9;
$red: #FF6F61;

$theme-colors: (
  "primary": #2F4156,
  "secondary": #C8D9E6,
  "accent": #FFFFFF,
  "neutral": #FFFFFF,
  "background": #F0F4F8,
  "white": $white,
  "purple": $purple,
  "softorange": $softorange,
  "lightblue": $lightblue,
  "green": $green,
  "brown": $brown,
  "softpurple": $softpurple,
  "red": $red
);

// Function to get color value from color map
@function get-color($colors, $key) {
  @return map-get($colors, $key);
}

//-------------------------TYPO------------------------------
// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Font Family
$font-family: 'Barlow';

// Title Font Size
$title-font-size: (
  "lg": 40px,
  "md": 32px,
  "sm": 28px
);

// Body Font Size
$body-font-size: (
  "lg": 24px,
  "md": 20px,
  "rg": 16px,
  "sm": 12px
);

// Font Weight
$font-weight: (
  "bold": 700,
  "semibold": 600,
  "medium": 500,
  "regular": 400,
  "light": 300
);

// Function to get font size value from font size map
@function get-font-size($font-sizes, $key) {
  @return map-get($font-sizes, $key);
}

// Function to get font weight value from font weight map
@function get-font-weight($font-weight, $key) {
  @return map-get($font-weight, $key);
}

//------------------------BUTTON----------------------------

$btn-font-family: 'Barlow';
$btn-font-size: get-font-size($body-font-size, md);
$btn-link-font-size: get-font-size($body-font-size, rg);
$btn-font-weight: get-font-weight($font-weight, medium);
$btn-line-height: 54px;
$btn-white-space: null;

// Padding
$btn-padding-x-lg: 28px;
$btn-padding-y-lg: 16px;
$btn-font-size-lg: $btn-font-size;

$btn-padding-x-md: 20px;
$btn-padding-y-md: 12px;
$btn-font-size-md: $btn-font-size;

$btn-padding-x-sm: 16px;
$btn-padding-y-sm: 10px;
$btn-font-size-sm: $btn-font-size;

$btn-link-padding-x: 16px;
$btn-link-padding-y: 8px;

$btn-border-width: 1px;
$btn-border-radius: 16px;

//primary button
$btn-primary-default-color: $white;
$btn-primary-default-bg: get-color($primary, 100);

$btn-primary-hover-color: $white;
$btn-primary-hover-bg: get-color($primary, 200);

$btn-primary-disabled-color: get-color($secondary, 100);
$btn-primary-disabled-bg: get-color($secondary, 200);

//secondary button
$btn-second-bg: $white;

$btn-second-default-color: get-color($primary, 200);
$btn-second-default-border-color: get-color($primary, 200);

$btn-second-hover-color: get-color($primary, 100);
$btn-second-hover-border-color: get-color($primary, 100);

$btn-second-disabled-color: get-color($secondary, 100);
$btn-second-disabled-border-color: get-color($secondary, 200);


//link
$btn-link-default-color: get-color($primary, 100);

$btn-link-hover-color: get-color($primary, 100);
$btn-link-hover-bg: get-color($primary, 100);

$btn-link-disabled-color: get-color($secondary, 200);