@import "../../scss/_variables.scss"; 

.navbar {
  width: var(--sidebar-width);
  padding: 0;
  padding-bottom: 15px;
  .menuList {
    background-color: get-color($background, "100"); 
    width: 330px; 
    height: 100vh; 
    list-style: none;
    margin-left: 10px;
  }
  .logo {
    font-family: $font-family;
    font-weight: bold;
    color: get-color($primary, "100"); 
    font-size: 24px;
    align-self: center;
    margin: 10px;
  }

  .title {
    font-size: 16px;
    color: get-color($primary, "100"); 
    margin-inline: 15px;
    padding: 8px 8px;
    border-radius: 5px;
    line-height: 20px;
  
    &.title-active {
      color: get-color($accent, "100"); 
    }
  }
  .nav-item {
    margin-inline: 6px;
    padding: 5px;
    padding-left: 10px;
    width: 100%;
    
    &.nav-item-active {
      font-weight: bold;
    }

    .nav-link {
      padding: 8px 8px;
      display: flex;
      align-items: center;
      width: 100%;
      color: get-color($primary, "100"); 
      border-radius: 10px; 

      &:hover {
        background-color: get-color($secondary, "100"); 
        color: get-color($primary, "100"); 
      }

      &.nav-link-active {
        background-color: get-color($primary,"100"); 
        color: get-color($neutral, "100");
        
      }

      .i {
        font-size: 24px;
        color: get-color($primary, "100");
      }

      .arrow {
        margin-left: auto;
        transition: transform 0.3s;
        color: get-color($primary, "100");
      }

      &.up {
        transform: rotate(0deg);
      }

      &.down {
        transform: rotate(180deg);
      }
    }

    // Styles cho submenu
    .nav-children {
      width: 288px;
      border-radius: 10px;
      background-color: get-color($accent, "100"); 

      .nav-link {
        padding-left: 20px; 
        color: get-color($primary, "200"); 

      &:hover {
        background-color: get-color($secondary, "100"); 
        color: get-color($primary, "100"); 
      }
      &.nav-link-active {
        background-color: get-color($primary,"100"); 
        color: get-color($neutral, "100"); 
      }

      }
    }
  }

  // Styles cho logout
  .logout-box {
    width: 80%; 
    font-weight: bold;
    padding: 15px; 
    background-color: get-color($secondary, "100"); 
    color: get-color($neutral, "300"); 
    border-radius: 10px; 
    border: 1px solid get-color($primary, "200"); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-decoration: none; 
    margin: 20px 20px 0 20px;


    i {
      margin-right: 10px; 
      font-size: 24px; 
      color: get-color($primary, "100"); 
    }

    &:hover {
      background: linear-gradient(0deg, #2F4156, #557C8D);
      color: get-color($accent, "100");
      //border: 2px solid get-color($accent, "200"); ;

      i {
        color: get-color($accent, "100"); 
      }
    }

    position:sticky;
    bottom: 0;
  }
}