@import "../../scss/variables.scss";
.menu-container {
    display: flex;
}

.menu-left {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ddd;
    max-width: 70%;
}

.header-custom{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    padding: 20px 32px;
    background-color: get-color($background, "100");

  .h2, .h4 {
    font-weight: bold !important;
    color: get-color($primary, "100");
    margin: 20px 0;
    display: flex;
    justify-content: center ;
  }
}

.menu-right {
    flex: 1;
    padding: 20px 10px;
    max-width: 400px;
    height: 100vh;
    overflow-y: auto;
    border-left: 1px solid #ddd;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f0f4f8;
}

.menu-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #2f4156;
    margin-bottom: 20px;
    background-color: #f0f4f8;
}


.category-filter {
    display: flex;
    justify-content: center; /* Căn giữa các nút */
    padding: 10px 0; /* Khoảng cách giữa các nút */
    gap: 10px; /* Khoảng cách giữa các nút */
    flex-wrap: wrap; /* Đảm bảo các nút không tràn khi màn hình nhỏ */
    margin-bottom: 20px; /* Khoảng cách phía dưới */

    .ant-btn {
        border-radius: 20px !important; /* Bo góc cho các nút */
        border: 1px solid #2f4156 !important; /* Đường viền cho nút */
        font-size: 16px; /* Tăng kích thước font */
        font-weight: bold; /* Chữ in đậm */
        padding: 20px 25px; /* Tăng kích thước nút */
        transition: all 0.3s ease; /* Hiệu ứng hover */

        &:hover {
            background-color: get-color($primary, "200") !important; /* Màu nền khi hover */
            color: white !important; /* Màu chữ khi hover */
        }

        &:active {
            background-color: get-color($primary, "100") !important; /* Màu nền khi click */
            color: white !important; /* Màu chữ khi click */
        }
    }

    // .ant-btn-primary {
    //     background-color: get-color($primary, "100"); /* Màu nền chính */
    //     color: #fff; /* Màu chữ trắng */
    //     border: none;

    //     &:hover {
    //         background-color: get-color($background, "100") !important; /* Màu nền khi hover */
    //         color: get-color($primary, "100") !important; /* Màu chữ khi hover */
    //     }
    //     &:active {
    //         background-color: get-color($primary, "100") !important; /* Màu nền khi click */
    //         color: white !important; /* Màu chữ khi click */
    //     }
    // }

    // .ant-btn-default {
    //     background-color: get-color($primary, "100"); /* Màu nền chính */
    //     color: #fff; /* Màu chữ trắng */
    //     border: none;

    //     &:hover {
    //         background-color: get-color($secondary, "100");
    //         color: #fff;
    //     }
    // }
}


.search-input {
    width: 50%; // Làm khung tìm kiếm lớn hơn
    margin: 20px auto; // Căn giữa
    display: block;
    font-size: 16px; // Tăng kích thước chữ
    padding: 10px; // Tăng padding cho khung input
    border-radius: 20px; // Bo góc khung input
    color: get-color($primary, "100") !important; // Màu chữ
    border: 1px solid #2f4156; // Đường viền

    &:focus {
        border-color: get-color($primary, "200"); // Đổi màu viền khi focus
    }
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.ant-card-body {
    display: flex !important;
}

.product-card {
    display: flex;
    width: 48%; // Card chiếm 48% chiều rộng màn hình
    max-width: 48%;
    height: 200px; // Cố định chiều cao của card
    background-color: #f0f4f8;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;


    .product-card h3 {
        font-weight: bolder; // Đảm bảo chữ in đậm
        font-size: 20px; // Có thể tùy chỉnh kích thước
    }

    .product-image {
        width: 150px; // Phần hình ảnh chiếm 40% chiều ngang card
        height: 130px; // Chiều cao đầy đủ của card
        background-color: #f0f0f0;
        left: 0px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover; // Tự động căn hình ảnh theo khung
        }
    }

    .product-info {
        width: 60%; // Phần thông tin chiếm 60% còn lại
        right: 0px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .size-options,
    .hot-cold-options {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        gap: 10px;
        padding-left: 10px;
    }

    .size-button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        /* Make buttons circular */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f0f4f8;
        border: 1px solid #2f4156;
        cursor: pointer;
    }

    .price {
        display: flex; /* Sử dụng flex để bố trí key và value */
        justify-content: space-between; /* Tạo khoảng cách giữa key và value */
        align-items: center; /* Căn giữa theo chiều dọc */
        font-size: 16px; /* Tăng kích thước font */
        font-weight: 500; /* Đậm vừa phải */
        gap: 20px; /* Khoảng cách giữa key và value */
        margin-top: -5px;
        
    
        span:last-child {
            font-size: larger;
            font-weight: bold; /* Chữ đậm hơn cho value */
            color: get-color($primary, "100"); /* Màu nổi bật cho giá */
        }
    }
    
    .mood-button {
        width: 45px;
        height: 25px;
        border-radius: 10%;
        /* Make buttons circular */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f0f4f8;
        border: 1px solid #2f4156;
        cursor: pointer;
    }

    .size-button.selected,
    .mood-button.selected {
        background-color: #2f4156;
        color: white;
    }

    .select-button {
        width: 80px;
        height: 40px;
        margin: -5px 0 10px 0;
        
        background-color: #2f4156;
        color: white;
        font-weight: bold;
        border-radius: 20px;
        position: absolute;
        right: 30px;
        border: 2px;

        &:hover {
            cursor: pointer;
            background-color: get-color($primary, "200");
            border-color: #2f4156;
            color: white;
        }
    }
}

.order-items {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
    flex-grow: 1;
    /* Allows this section to stretch and push the total section down */
}

.order-list {
    max-height: 300px;
    overflow-y: scroll;
}

.order-item-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.remove-button {
    color: red;
    width: 20px;
    height: 20px;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Tạo khoảng cách giữa nút X và input */
}

.total-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* Đảm bảo các mục chiếm toàn bộ chiều rộng */
    position: sticky;
    /* Giữ cố định ở cuối */
    bottom: 0;
    padding-top: 7px;
    background-color: white;
    border-radius: 5%;
    /* Nền trắng */
    z-index: 10;

    .total-info-item {
        margin: 0 0px 10px 10px;
        display: flex;
        justify-content: space-between;
        width: 95%;
    }

    .label {
        margin-left: 5px;
        /* Làm nổi bật nhãn */
    }

    .value {
        text-align: right;
        /* Đặt giá trị về phía phải */
        margin-right: 5px;
    }
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-left: auto; /* Căn phải */
    gap: 10px;
    border-radius: 10px;
}

.quantity-controls span {
    margin: 0 10px;
}

.quantity-controls button {
    padding: 0 5px;
    /* Make the buttons smaller by reducing the padding */
    font-size: 14px;
    /* Smaller font size */
    width: 30px;
    /* Set a fixed width for smaller buttons */
    height: 30px;
    /* Set a fixed height for smaller buttons */
    border-radius: 50%;
    /* Keep the circular shape */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f4f8;
    border: 1px solid #2f4156;
    cursor: pointer;
}

.quantity-controls button:hover {
    background-color: #2f4156;
    color: white;
}

.button {
    width: 90%;
    align-self: center;
    padding: 10px;
    background-color: #2f4156;
    color: white;
    margin-top: 10px;
}

.customer-info input {
    margin-bottom: 5px;
}

.ant-select-selection-search {
    width: 100%;
}

.order-item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.sold-out {
    font-size: 24px;
    font-weight: bold;
    color: #2f4156;
    text-align: center;
    position: absolute;
    padding-top: 60px;
    padding-left: 30px;
}

.category-filter .ant-btn {
    background-color: #f0f4f8; // Màu nền của nút
    color: #2f4156; // Màu chữ
    border: 2px solid #C8D9E6; // Xóa đường viền của nút
}

.category-filter .ant-btn-primary {
    background-color: #C8D9E6; // Màu nền của nút khi được chọn
    color: #2f4156;
}
.pagination {
    display: flex;
    justify-content: center; // Căn giữa pagination
    margin: 20px 0;
    border: #2f4156;
}