.form-groups label {
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.form-groups input,
.form-groups select,
.form-groups textarea {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: vertical;  
}

.dynamic-list {
  padding-left: 1rem;
  border-left: 2px solid #ddd;
}

.dynamic-list-header {
  margin-top: 1rem;
}

.dynamic-list-item {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.group-with-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.group-per-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.group-per-secret {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.group-with-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.group-des {
  margin-top: 1rem;
}

.group-full-width {
  margin-top: 1rem;
}

.form-groups {
  display: flex;
  flex-direction: column;
}

.form-actions {
  margin-top: 1rem;
}