.admin-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.admin-body {
  display: flex;
  flex: 1;
  min-height: 0; /* Fix cho trình duyệt Firefox */
  width: 100%;
}

/* Content Styles */
.content {
  flex: 1;
  overflow: auto;
  padding: 0;
  margin: 0;
}

.admin-display-area {
  gap: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.class-management-page {
  width: 100%; 
  box-sizing: border-box; 
  overflow-y: auto; 
}