.student-page {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh; /* Đảm bảo chiều cao tối thiểu bằng chiều cao viewport */
}

.student-body {
  display: flex;
}

/* Content Styles */
.content {
  padding: 20px;
}