.course-ad-container {
  position: relative;
  background: linear-gradient(to right, #abc4ff, #d7e3fc);
  height: 100px;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px; 
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 0 200px;
  overflow: hidden;
  box-sizing: border-box; 
}

.course-ad {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  max-width: calc(100% - 40px);
  transition: opacity 0.3s ease-in-out;
  white-space: normal;
  word-wrap: break-word;
}

.arrow {
  position: absolute;
  font-size: 15px;
  cursor: pointer;
  color: #333;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  padding: 8px;
  z-index: 1;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.dot-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 7px;
  height: 7px;
  background-color: #aaa;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #333;
}
